@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-212529: #212529;
  --color-868d96: #868d96;
  --color-e0e0e0: #e0e0e0;
  --color-fff: #ffffff;
  --color-f2f2f2: #f2f2f2;
  --color-707070: #707070;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-fafafa);
}
/* @media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1550px;
  }
}
@media (min-width: 1800px) {
  .container-xxxl {
    max-width: 1760px;
  }
} */
@media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1600px;
  }
}

/* navbar sidebar */
.navbar {
  background-color: var(--color-014b7f);
  height: 74px;
}
.side-item-link-active {
  background-color: var(--color-014b7f);
  color: white;
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
}
.side-item-link {
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
  color: var(--color-212529);
  background-color: var(--color-f2f2f2);
  border: 1px solid var(--color-707070);
}
.w-50px {
  width: 50px;
}
.h-50px {
  height: 50px;
}
/* ===================
 */
.header {
  font-size: var(--font-44);
  font-weight: 700;
  color: var(--color-212529);
}
.heading {
  font-size: var(--font-24);
  font-weight: 700;
  color: var(--color-212529);
}
.sm-heading {
  font-size: var(--font-12);
  font-weight: 700;
  color: var(--color-014b7f);
}
.lables {
  font-size: var(--font-16);
  font-weight: 400;
  color: var(--color-212529);
}
.placeholder {
  font-size: var(--font-16);
  font-weight: 400;
  color: var(--color-868d96);
}
.border-eoeoeo {
  border: 1px solid var(--color-e0e0e0);
}
.br-5 {
  border-radius: 5px;
}
/* last btn */
.btn:focus {
  box-shadow: none !important;
}
.zuruck-btn {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: var(--font-16);
  color: var(--color-212529);
  border-radius: 5px;
  background: var(--color-f2f2f2);
  border: 1px solid var(--color-e0e0e0);
}
.zuruck-btn:hover {
  background-color: var(--color-f2f2f2);
  opacity: 0.8;
}
.weiter-btn {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: var(--font-16);
  color: var(--color-fff);
  background-color: var(--color-014b7f);
  border-radius: 5px;
  border: 1px solid var(--color-e0e0e0);
}
.weiter-btn:hover {
  background-color: var(--color-014b7f);
  opacity: 0.9;
  color: var(--color-fff) !important;
}
@media (max-width: 576px) {
  .w-50px {
    width: 30px;
  }
  .h-50px {
    height: 30px;
  }
}
