@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-44: 44px;
  --font-16: 16px;
  --font-24: 24px;
  --font-12: 12px;
  --font-20: 20px;
  --color-fafafa: #fafafa;
  --color-f2f2f2: #f2f2f2;
  --color-014b7f: #014b7f;
  --color-212529: #212529;
  --color-868d96: #868d96;
  --color-707070: #707070;
  --color-fff: #fff;
}

@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --font-44: 35px;
    --font-16: 15px;
    --font-24: 20px;
    --font-12: 12px;
    --font-20: 18px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-44: 28px;
    --font-16: 14px;
    --font-24: 16px;
    --font-12: 12px;
    --font-20: 15px;
  }
}

.btn {
  box-shadow: none !important;
}
.ff-popins {
  font-family: "Poppins";
}
.ff-Helvetica {
  font-family: "Helvetica";
}

.was-header {
  font-size: var(--font-44);
  font-weight: bold;
  color: var(--color-212529);
}

.datum-label {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-212529);
}

.datum-placeholder {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-212529);
}

.datum-placeholder::placeholder {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-868d96);
  font-family: "Poppins";
}

.dam-input-border {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.input-focus-none:focus {
  box-shadow: unset !important;
  outline: unset !important;
  border: 1px solid #e0e0e0;
}

.max-placeholder {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-212529);
}

.max-placeholder::placeholder {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-212529);
}

.del-btn {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.border-left-014b7f {
  border-left: 6px solid var(--color-014b7f);
}

.hinzu-btn {
  background-color: var(--color-014b7f);
  border-radius: 5px;
  color: white;
  font-size: var(--font-16);
  font-weight: normal;
}

.pic-collection {
  background-color: var(--color-f2f2f2);
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.over-lay-btn {
  background-color: var(--color-014b7f);
  border-radius: 5px;

  color: var(--color-f2f2f2);
  font-size: var(--font-16);
  font-weight: 600;
}

@media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1600px;
  }
}

.side-item-link-active {
  background-color: var(--color-014b7f);
  color: white;
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
}

.side-item-link {
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
  color: var(--color-212529);
  background-color: var(--color-f2f2f2);
  border: 1px solid var(--color-707070);
}

.w-50px {
  width: 50px;
}

.h-50px {
  height: 50px;
}

@media (max-width: 576px) {
  .w-50px {
    width: 30px;
  }

  .h-50px {
    height: 30px;
  }
}

.navbar {
  background-color: var(--color-014b7f);
  height: 74px;
}

.zuruck-btn {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: var(--font-16);
  color: var(--color-212529);
  border-radius: 5px;
  background: var(--color-f2f2f2);
  border: 1px solid var(--color-e0e0e0);
}
.zuruck-btn:hover {
  background-color: var(--color-f2f2f2);
  opacity: 0.8;
}
.weiter-btn {
  font-family: "Poppins", "sans-serif";
  font-size: var(--font-16);
  font-weight: 600;
  color: var(--color-fff);
  background-color: var(--color-014b7f);
  border-radius: 5px;
  border: 1px solid var(--color-e0e0e0);
}
.weiter-btn:hover {
  background-color: var(--color-014b7f);
  opacity: 0.9;
  color: var(--color-fff) !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.hinzu-btn:hover {
  background-color: var(--color-014b7f);
  color: white;
  opacity: 0.9;
}

/* overlay css */

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-014b7f);
  opacity: 0.85;
}

.overlay-text {
  font-size: var(--font-44);
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
