@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --color-212529: #212529;
  --color-f2f2f2: #f2f2f2;
  --color-e0e0e0: #e0e0e0;
  --color-fff: #fff;
  --color-868d96: #868d96;
}
/* NAVBAR */
.navbar {
  background-color: var(--color-014b7f);
  height: 74px;
}
/* FORM SECTION */
.heading {
  font-family: Poppins, "sans-serif";
  font-weight: 700;
  font-size: var(--font-44);
  color: var(--color-212529);
}

.input-heading {
  font-family: Poppins;
  font-weight: 400;
  font-size: var(--font-16);
  color: var(--color-212529);
}
.input-placeholder {
  font-family: Poppins;
  font-weight: normal;
  font-size: var(--font-16);
  border: 1px solid var(--color-e0e0e0);
  color: var(--color-868d96s);
  background: var(--color-fff);
}
/* BUTTON  */
.btn:focus {
  box-shadow: none !important;
}
.zuruck-btn {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: var(--font-16);
  color: var(--color-212529);
  border-radius: 5px;
  background: var(--color-f2f2f2);
  border: 1px solid var(--color-e0e0e0);
}
.zuruck-btn:hover {
  background-color: var(--color-f2f2f2);
  opacity: 0.8;
}
.weiter-btn {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: var(--font-16);
  color: var(--color-fff);
  background-color: var(--color-014b7f);
  border-radius: 5px;
  border: 1px solid var(--color-e0e0e0);
}
.weiter-btn:hover {
  background-color: var(--color-014b7f);
  opacity: 0.9;
  color: var(--color-fff) !important;
}

/* SIDEBAR */
.side-item-link-active {
  background-color: var(--color-014b7f);
  color: white;
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
}
.side-item-link {
  border-radius: 50%;
  font-size: var(--font-24);
  font-weight: normal;
  color: var(--color-212529);
  background-color: var(--color-f2f2f2);
  border: 1px solid var(--color-707070);
}
.w-50px {
  width: 50px;
}
.h-50px {
  height: 50px;
}

/* DROPDOWN */
.ja,
.neil {
  display: none;
}
.neil:checked {
  display: none;
}
.rb-ja:checked ~ .ja {
  display: inline;
}
.br-1 {
  border: 1px solid var(--color-e0e0e0);
}
.focus:focus-visible {
  outline: none !important;
}

/* MEDIA QUERRY */
@media (max-width: 576px) {
  :root {
    --font-44: 25px !important;
  }
  .w-50px {
    width: 30px;
  }
  .h-50px {
    height: 30px;
  }
}

@media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1600px;
  }
}
@media (max-width: 576px) {
  .w-50px {
    width: 30px;
  }
  .h-50px {
    height: 30px;
  }
}
